#package_tab{
    margin-top:0px;
    display: inline-block;
    width:950px;
}
#package_tab2{
    margin-top:5px;
    float: right;
    display: inline-block;
    background-color: white;
    width:110px;
    height: 236px;
    border-radius: 5px;
    padding-left: 10px;

}
#package_tab3{
    margin-top:20px;
    background-color: white;
    width:100%;
    height: 305px;
    border-radius: 5px;
    padding-left: 10px;

}



#package_data_tab{
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width: 300px;
    border-radius: 5px;
    display: inline-block;
    
}

#package_data_tab2{
    margin-top:12px;

    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width:150px;
    border-radius: 5px;
    display: inline-block; 
}
#package_data_tab3{
    margin-top:7px;

    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width:430px;
    border-radius: 5px;
    display: inline-block; 
}
#package_data_tab4{
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width:377px;
    border-radius: 5px;
    display: inline-block; 
}
#package_data_tab5{
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width: 100px;
    height: 500px;
    border-radius: 5px;
    display: inline-block;
    
}
#package_data_tab6{
    margin-top:7px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    left:50px;
    width:450px;
    border-radius: 5px;
    display: inline-block; 
}
#reportbut{
    border-radius:7px;
    background-color:#14d85f;
    border:2px solid #14d85f;
    width:100px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    height:40px
}
#reportbut:hover{
    border-radius:7px;
    background-color:#15b853;
    border:2px solid #15b853;
    width:100px;
    height:40px
}